/*-----------------------------------------------------------------------------------

    Template Name: Unify
    Template URI: http://bootexperts.com
    Description: This is html5 template
    Author: BootExperts
    Author URI: http://bootexperts.com
    Version: 1.0

-----------------------------------------------------------------------------------
    
    CSS INDEX
    ===================
	
    1. Theme Default CSS (body, link color, section etc)

-----------------------------------------------------------------------------------*/

/*----------------------------------------*/
/*  1.  Theme default CSS
/*----------------------------------------*/

/*Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Lato:300i,400,400i,900|Raleway:300,400,500,500i,800');

html, body {height: 100%;}
.floatleft {float:left}
.floatright {float:right}
.alignleft {float:left;margin-right:15px;margin-bottom: 15px}
.alignright {float:right;margin-left:15px;margin-bottom: 15px}
.aligncenter {display:block;margin:0 auto 15px}
a:focus {outline:0px solid}
img {max-width:100%;height:auto}
.fix {overflow:hidden}
p {margin:0 0 15px;}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 10px;
    font-family: 'Raleway', sans-serif;


}
a {transition: all 0.3s ease 0s;text-decoration:none;}
a:hover {
  color: #8ec448;
  text-decoration: none;
}
a:active, a:hover {
  outline: 0 none;
}
ul{
list-style: outside none none;
margin: 0;
padding: 0
}
.clear{clear:both}
body {
    font-family: 'Lato', sans-serif;

}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*Header css*/
header {
    height: 150px;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 99;
}

.header-area {
    position: relative;
}
.header-area::before{
    position:absolute;
    content:"";
    background:#fff;
    height:100%;
    width:100%;
    top:0;
    opacity:.8;
}
.main-menu ul li {
    display: inline-block;
}

.main-menu ul li a {
    display: block;
    padding: 20px 15px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #353535;
    font-family: 'Raleway', sans-serif;
}

.main-menu ul li:hover a {
    color: #8ec448;
}


.header-search form input {
    height: 35px;
    width: 100%;
    padding-left: 10px;
    display: block;
    border: 1px solid #DDDDDD;
    background: none;
}
.header-search {
    margin-top: 15px;
}

.header-search form {
    position: relative;
}

.header-search form button {
    background: none;
    position: absolute;
    border: 0;
    top: 0;
    background: none;
    right: 0;
    border-left: 1px solid #ddd;
    height: 35px;
    width: 35px;
}

/* Slider area*/
.single-slider {
    position: relative;
}

.slider-text {
    position: absolute;
    top: 50%;
    text-align: center;
    right: 0;
    left: 0;
    transform: translateY(-50%);
}

.slider-text span {
    font-size: 24px;
    font-weight: 900;
}

.slider-text h1 {
    font-weight: 700;
    font-size: 60px;
    margin: 60px 0;
    line-height: 3px;
}

.slider-text a {
    border: 2px solid #353535;
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 5px;
    margin: 0 10px;
}

.slider-text a:hover {
    background: #8ec448;
    color: #fff;
    border-color: #8ec448;
}